 *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    background-color: aqua;


}

form {
	width: 300px;
	margin: 0 auto;
}

label {
        display: center;
        margin-bottom: auto;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    /* Style untuk tombol submit */
    input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        border-radius: 20px;
    }

    input[type="submit"]:hover {
        background-color: #45a049;
    }